<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0284056f-9a41-4aab-b184-605201b79942/resourceGroups/XamarinParty/providers/Microsoft.Web/sites/XamarinParty</ResourceId>
    <ResourceGroup>XamarinParty</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xamarinparty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>xamarinparty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>XamarinParty</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$XamarinParty</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HangMan" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xamarinparty.database.windows.net,1433;Initial Catalog=XamarinParty;User ID=sqladmin@xamarinparty.database.windows.net;Password=xamar1n." Name="Data Source=tcp:xamarinparty.database.windows.net,1433;Initial Catalog=XamarinParty;User Id=sqladmin@xamarinparty.database.windows.net;Password=xamar1n.;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HangMan.Data.EFContext.HangManContext, HangMan.Data" MigrationConfiguration="HangMan.Data.Migrations.Configuration, HangMan.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HangMan-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xamarinparty.database.windows.net,1433;Initial Catalog=XamarinParty;User Id=sqladmin@xamarinparty.database.windows.net;Password=xamar1n.;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>